.figureTerrestrial {
    width: 100%;    
}

.figureTerrestrial__title {
    color: black;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.figureTerrestrial__card {
    width: 100%;
    margin: 10px 0px 10px 0px;
}

.legendTerrestrial {
    font-size: 16px;
}

.axis-label {
    font-size: 14px;
}

.x-axis line {
    stroke: gray;
}

.y-axis line {
    stroke: gray;
}

.x-axis path {
    stroke: gray;
}

.y-axis path {
    stroke: gray;
}