.figureTerrestrial__card{ 
    width: 90%;
    margin: 0px;
    border-radius: 30px;
    border-color: black;
    border-width: 5px;
    border-style: solid;
}

#imgTerrestrial {
    width: 100%;
    border-radius: 30px;
    margin: auto;
}