.figureVulnerabilities__card {
    width: 90%;
    margin: 10px auto 10px auto;
}

#imgVulnerabilities {
    width: 100%;
    border-radius: 30px;
    margin: auto;
}
.figureVulnerabilities__card_info {
    height: 20px;
    font-size: 14px;
    color: black;
}

.figureVulnerabilities__card_title {
    color: black;
    text-align: center;
}
