.figureVulnerabilities__card {
    width: 700px;
    height: 400px;
    line-height: 400px;
    margin: 10px auto 10px auto;
    border-radius: 100px;
    border-color: black;
    border-width: 5px;
    border-style: solid;
}

#imgVulnerabilities {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    margin: auto;
}