.App {
  text-align: center;
}

#content {
  width: 1600px;
  padding: 0 20px;
  position:relative; 
  top:-30px; 
  margin: 0px auto 0px auto;
}

.figures {
  width:100%;
  background-color: aqua;
  border-radius: 50px;
  margin-top: 30px;
}