.App {
    text-align: center;
    margin-top: 50px;
}

body {
    background-color: #db382b;
    color: white;
}

a {
    color: white;
}

#content {
    padding: 0 20px;
    position: relative;
    margin: 0px auto 0px auto;
}

.figures {
    width: 80%;
    max-width: 1000px;
    background-color: #ffffff;
    border-radius: 50px;
    margin: 40px auto;
}
