.figureTree__card {
    width: 90%;
    margin: auto;
    border-radius: 30px;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    display: inline-block;
}

#imgTree {
    width: 100%;
    border-radius: 30px;
    margin: auto;
}

.node {
    cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: #aaa;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: rgba(139, 0, 0, 0.328);
  stroke-width: 1px;
}
