.figureDistrib__card {
    width: 100%;
    margin: 75px auto 10px auto;
}


.figureDistrib__card_info {
    height: 20px;
    font-size: 18px;
    color: black;
}

.figureDistrib__card_title {
    color: black;
    text-align: center;
}

.tick{
    color: black;
    font-weight: bold;
}